h2 {
  margin: 0;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
}

@media (max-width: 500px) {
  h2 {
    margin: 20px 0;
  }
}

ul {
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style-type: none;
  padding: 10px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid rgb(13, 66, 110);
}

ul li:hover {
  cursor: pointer;
}
